body {
  margin: 0;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
}

a {
  color: rgb(232, 235, 21);
}

p {
  margin: 10px;
}

.text-font {
  font-size: 20px;
  font-weight: bold;
}

.hidden {
  display: none;
}

.td-border {
  border: 4px solid green;
}

table {
  border-collapse: collapse;
}

.border-bottom {
  outline: red dotted 2px;
}
